.bold {
  font-weight: bolder;
}

.highlight-green {
  color: #00ff91;
}

.highlight-orange {
  color: #ffbb00;
}

.highlight-blue {
  color: #00bfff;
}

.highlight-red {
  color: #ef8080;
}

/* Responsive design - adjust layout for smaller screens */
.furigana {
  color: #ef8080;
}

@media only screen and (max-width: 600px) {
  .kana-table {
    font-size: 12px;
    text-size-adjust: 100%;
  }
}