$text-colour: rgb(217, 217, 217);

$highlight-green: #00ff91;
$highlight-orange: #ffbb00;
$highlight-blue: #00bfff;
$highlight-red: #ef8080;

$small-font-size: 16px;
$normal-font-size: 16px;
$large-font-size: 16px;

.bold{
    font-weight: bolder;
}

.highlight-green{
    color: $highlight-green;
}

.highlight-orange{
    color: $highlight-orange;
}

.highlight-blue{
    color: $highlight-blue;
}

.highlight-red{
    color: $highlight-red;
}
