@import '_screens';
@import '_text';

$background-colour: rgb(60, 60, 60);

/* Reset default browser styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin','Helvetica Neue',helvetica,arial,sans-serif;
}
  
/* Set a default font family and size */
body {
  font-family: Arial, sans-serif;
  background-color: $background-colour;
  color: $text-colour;
}

div{
    width: 100%;
}
  
/* Style for headings */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 10px;
}
  
h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
  
h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
  /* Basic styling for paragraphs */
p {
    margin-block-end: 15px;
    margin-block-start: 15px;
}
  
  /* Style for links */
a {
    //color: #007bff; /* Blue color for links */
    color: rgb(175, 175, 175);
    text-decoration: none;

    &:hover{
        color: rgb(232, 232, 232);;
        text-decoration: underline; /* Underline links on hover */
    }
}
  
  /* Style for lists */
ul, ol {
    margin-bottom: 15px;
}
  
  /* Style for list items */
li {
    margin-bottom: 5px;
}
  
  /* Add a border to images */
img {
    max-width: 100%; /* Make images responsive */
}
  


/* Optional: Add some basic styling to the table */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(53, 53, 53);
    margin: 1.5em auto;
    table-layout: fixed;
    display: table;
}
  
th, td {
    border: 2px solid black;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: table-cell;
}
  
tr{
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
}
  
td{
    background-color: rgb(55, 55, 55);
    font-size: 1em;
}
  
th {
      border: 0.125em solid rgb(0, 0, 0);
      background-color: rgb(65, 65, 65);
      font-size: 1.1em;
      font-weight: 400;
      box-shadow: none;
      font-weight: bold;
}
  
table td:nth-of-type(1), th:nth-of-type(1) {
    min-width:auto;
}  

@media only screen and (max-width: $breakpoint-maxwidth) {
    body {
        font-size: $small-font-size;
    }
  }
  /* Medium screens (tablets) */
@media only screen and (min-width: $breakpoint-medium) {
    body {
        font-size: $large-font-size;
    }
}
  
  /* Large screens (desktops) */
@media only screen and (min-width:$breakpoint-large) {
    body {
        font-size: $large-font-size;
    }
}