@import '_text';
@import '_screens';

.furigana{
    color: $highlight-red;
}

@media only screen and (max-width: $breakpoint-maxwidth) {
    .kana-table{
        font-size: 12px;
        text-size-adjust: 100%;
    }
  }