nav.navbar
    img.navbar-logo(src=require("@Images/orakeshi-icon.png"))
    ul.navbar-list
        li.navbar-list-item
            a.navbar-link-eng Home
            br
            a.navbar-link-jp(href="/index") ホーム

        li.navbar-list-item
            a.navbar-link-eng Blog
            br
            a.navbar-link-jp(href="/categories/learning/kana") ブログ

        li.navbar-list-item
            a.navbar-link-eng Projects
            br
            a.navbar-link-jp(href="") 計画

        li.navbar-list-item
            a.navbar-link-eng Learning
            br
            a.navbar-link-jp(href="") 学


        li.navbar-list-item
            a.navbar-link-eng About
            br
            a.navbar-link-jp(href="") 凡そ
