mixin furigana(characters)
    each character in characters 
        each value, key in character
            ruby.japanese-text
                = key
                rt.furigana #{value}

mixin translationFurigana(translation, translationCharacters)
    | #{translation}(
    +furigana(translationCharacters)
    | )