html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Kana
        include ../../partials/layout.pug
        
        include ../../components/toggle.pug
        include ../../components/japanese.pug
        include ../../components/hiraganachart.pug
        include ../../components/katakanachart.pug


body
    main.container
        include ../../components/output.pug
        div.toggle-container
            +toggle('Hiragana','hiragana-box', 'hiragana-chart')
            +toggle('Katakana','katakana-box', 'katakana-chart')

        div#hiragana-chart
            div#hiragana-container
                h1.page-title
                    +translationFurigana("Hiragana", [{平: 'ひら'}, {仮: 'が'}, {名: 'な'}])
                p 
                    | Exmaple text in here. This is a very long test paragraph. I am not entirely sure what I am writing in here as of now. But I just keep typing.
                    | 平仮名 【ひら・が・な

                +hiragana
                
                div#hiragana-extra-container
                    h2.page-subtitle
                        +translationFurigana("Dakuten", [{濁: 'だく'}, {点: 'てん'}])
                        |  & 
                        +translationFurigana("Handakuten", [{半: 'はん'}, {濁: 'だく'}, {点: 'てん'}])

                    p 
                        | Exmaple text in here. This is a very long test paragraph. I am not entirely sure what I am writing in here as of now. But I just keep typing.
                        | 平仮名 【ひら・が・な

                +hiraganaDakuten

        div#katakana-chart
            div#katakana-container
                h1.page-title
                    +translationFurigana("Katakana", [{片: 'かた'}, {仮: 'か'}, {名: 'な'}])
                p 
                    | Exmaple text in here. This is a very long test paragraph. I am not entirely sure what I am writing in here as of now. But I just keep typing.
                    | 平仮名 【ひら・が・な

                +katakana
                
                div#katakana-extra-container
                    h2.page-subtitle
                        +translationFurigana("Dakuten", [{濁: 'だく'}, {点: 'てん'}])
                        |  & 
                        +translationFurigana("Handakuten", [{半: 'はん'}, {濁: 'だく'}, {点: 'てん'}])

                    p 
                        | Exmaple text in here. This is a very long test paragraph. I am not entirely sure what I am writing in here as of now. But I just keep typing.
                        | 平仮名 【ひら・が・な

                +katakanaDakuten

